@tailwind base;
/*In case that you need to aply some style*/

@tailwind components;
/*In case that you need to aply some style*/

@tailwind utilities;

/*In case that you need to aply some style*/


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background: #000231; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
