@tailwind base;
/*In case that you need to aply some style*/

@tailwind components;
/*In case that you need to aply some style*/

@tailwind utilities;

/*In case that you need to aply some style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
     background: #100210;
     color: #fff;
     display: flex;
     flex-direction: column;
}
a {
    color: inherit;
    text-decoration: none;
}

.Navigation {
    display: flex;
    background: #0d200e;
    width: 100vw;
    height: 4rem;
}

.Main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    margin: 10px;
}

/* .cardWeather {
    background: #7e0313bb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    font: 400 10pt/150% Roboto, sans-serif;
    margin: 10px;
} */

.weatherData {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 400 11px/150% Cantarell, sans-serif;
    color: #cecece;
    margin: 2px;
}
